<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>P2PChat</title>
    <script src="/app/vue-next.js"></script>
    <link rel="stylesheet" media="all" href="/app/style.css">
</head>
<body>
<div id="app">
    <div v-if="!login" class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Ты кто?</h1>
            </div>

            <form class="login-form" @submit.prevent="auth">
                <div class="control-group">
                    <input type="text" class="login-field" v-model="inputLogin" placeholder="Я админ" id="login-name">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="control-group">
                    <input type="password" class="login-field" v-model="inputPassword" placeholder="А ты кто?"
                           id="login-pass">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <button class="btn btn-primary btn-large btn-block" @click.prevent="auth">Чат</button>
            </form>
        </div>
    </div>

    <div v-else class="p2pchat">
        <div class="title">P@PChat</div>
        <div class="you">{{login}}</div>

        <div class="users">
            <div class="users__title">
                Ребята
            </div>

            <div
                class="user"
                v-for="user in users"
                :key="user.login"
                @click="chatToUser(user.login)"
            >
                {{user.login}}
            </div>
        </div>

        <div class="chats">
            <div class="chats__title">
                Чатики
            </div>
            <div
                class="chat"
                v-for="chat in chats"
                :key="chat.id"
                @click="selectChat(chat.id)"
            >
                <div
                    class="chat__companion"
                    v-for="user in chat.companions"
                    :key="user.login"
                >
                    {{user.login}}
                </div>
            </div>
        </div>

        <div class="messages">
            <div
                class="message"
                v-for="message in messages"
                :key="message.id"
            >
                <div class="message__by">{{message.by_companion.login}}: </div>

                <div class="message__text">{{message.text}}</div>
            </div>
        </div>

        <form class="message-send" @submit.prevent="sendMessage">
            <div class="message-text">
                <textarea type="text" class="message-text__input" placeholder="by Rota" v-model="messageText"></textarea>
            </div>

            <button
                    class="btn btn-primary btn-large btn-block"
                    @click.prevent="sendMessage"
                    :disabled="!selectedChat"
            >
                Отправить
            </button>
        </form>

        <button class="btn btn-block logout" @click.prevent="logout">Выйти</button>
    </div>
</div>
<script src="/app/script.js"></script>
</body>
</html>
