html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #411111;
}

input,
textarea {
    font-family: Arial;
    font-size: 24px;
}

#app {
    height: 100vh;
    width: 100vw;
    padding: 50px;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 24px;
    background-color: #411111;
    animation: hue-rotate linear infinite 10s;
    color: #ffffff;
}

@keyframes hue-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.login {
    margin: 20px auto;
    width: 300px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #6a298b;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #4f2264;
    color: #ffffff;
    font-size: 22px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
    height: 50px;
}

.btn-large {
    width: 250px;
    height: auto;
    font-size: 26px;
}

.btn:hover {
    background-color: #5e297d;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}


.p2pchat {
    display: grid;
    grid-template-areas: 'you   title    logout'
                         'chats messages users '
                         'chats sender   users';
    grid-template-rows: 100px 4fr 100px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 40px;
    width: 100%;
    height: 100%;
    justify-items: center;
}

.title {
    grid-area: title;
    font-size: 100px;
}

.you {
    grid-area: you;
    font-size: 70px;
    overflow: hidden;
    max-width: 100%;
}

.users {
    grid-area: users;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
}

.user {
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 10px;
    background: #6666;
    transition: .3s;
    cursor: pointer;
}

.chat:hover,
.user:hover {
    background: #3333;
}

.chats {
    grid-area: chats;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
}

.users__title,
.chats__title {
    margin-bottom: 40px;
    font-size: 50px;
}

.chat {
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 10px;
    background: #6666;
    transition: .3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.messages {
    grid-area: messages;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.message {
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 10px;
    background: #6666;
    transition: .3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.message__by {

}

.message-send {
    grid-area: sender;
    display: flex;
    gap: 20px;
    width: 100%;
}

.message-text {
    width: 100%;
    flex-grow: 1;
}

.message-text__input {
    width: 100%;
    height: 100%;
    min-height: 80px;
    text-align: left;
    vertical-align: top;
}

.logout {
    grid-area: logout;
}

  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.0);
      background-color: #ccc;
  }

  ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: #ccc;
  }

  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.0);
      background-color: #0048ff;
  }

  .content *::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.0);
      background-color: transparent;
  }

  .content *::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: transparent;
  }

  .content *::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.0);
      background-color: #1719a4;
      border-radius: 10px;
  }